*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.login{
    /* background: var(--wine); */
    padding: 10px;
    height: 100vh;
}

form{
    /* border: 1px solid; */
    width: 30%;
    margin: auto;
    padding: 10%;
    line-height: 2rem;
    /* background: var(--purple); */
}