:root {
    --lightBlue: #F8F9FA;
    --skyBlue: #0056b3;
    --black: #000;
    --wine: rgb(255, 60, 0);
    --lightGrey: #EFCFC7;
    --purple: #551A8B;
    --deepBlue: darkblue;
    --green: #00AD45;
    --deepGreen: #043927;
    --deepGrey: #ccc;
    --white: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: var(--lightBlue);
}

.logo #link {
    text-decoration: none;
    color: var(--black);
    font-size: calc(20px + 0.2vmin);
    font-weight: bold;
}

#faLemon {
    color: var(--purple);
    font-size: calc(15px + 0.2vmin);
}

.nav1,
.nav2 {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav1 {
    gap: 4rem;
}

.nav1 #link {
    text-decoration: none;
    font-size: calc(10px + 1vmin);
    color: var(--deepBlue);
    transition: opacity 0.12s ease-in-out;
}

.nav1 #link:hover {
    opacity: 0.7;
}

.nav1 #link:active {
    opacity: 0.5;
}

.search-icon {
    font-size: calc(15px + 1vmin);
    cursor: pointer;
    color: var(--deepGreen);
}

.search-icon:hover {
    opacity: 0.7;
}

.search-icon:active {
    opacity: 0.5;
}

.nav2 .search-field {
    padding: 0.5em;
    font-size: calc(10px + 1vmin);
    border: 1px solid var(--deepGrey);
    display: none;
}

.show-search-field {
    display: block !important;
}

.hide-search-icon {
    display: none;
}

#bars {
    display: none;
    font-size: calc(15px + 1vmin);
    cursor: pointer;
    border: 2px solid var(--deepGrey);
    border-radius: 5px;
    padding: 0.3em 0.6em;
    transition: opacity 0.12s ease-in-out;
    margin-left: calc(15px + 1vmin);
}

#bars:hover {
    opacity: 0.7;
}

#bars:active {
    opacity: 0.5;
}

.nav2 button {
    padding: 0.3em 0.6em;
    font-size: calc(10px + 1vmin);
    background: var(--green);
    border: 1px solid var(--green);
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    margin: 0 0.5rem;
}

.nav2 #cart {
    font-size: calc(15px + 1vmin);
    color: var(--green);
    cursor: pointer;
}

.cart-container {
    position: relative;
}

.cart-container p {
    position: absolute;
    top: -25px;
    right: 10px;
    font-weight: bold;
    color: #043927;
}

@media screen and (max-width: 60rem) {
    .logo #link {
        font-size: calc(18px + 0.2vmin);
    }
}

@media screen and (max-width: 50rem) {
    .nav1 {
        display: none;
    }
    #bars {
        display: inline;
    }
    .logo #link {
        font-size: calc(17px + 0.2vmin);
    }
}

@media screen and (max-width: 45rem) {
    .logo #link {
        font-size: calc(15px + 0.2vmin);
    }
    .nav2 .search-field {
        width: 6rem;
    }
}